/*
    Author: Kanchan Wakchaure
    Date: 10-04-2019
    Description: Styling for footer component
*/

  footer{
    position: fixed;
    bottom: 0;
    height: 90px;
    background-color: '#3F51B5' !important;
    width: 100%;
    font-color: white !important;
    padding-top: 5px;
  }

