
.app{

  display: flex;
  align-items: center;
}

.homepage{

  align-items: center;
  margin-left: 400px;
  margin-top: 100px;
  height: 500px;
  width: 500px;

 display: flex;
 flex-direction: column;

}
.createEvent {
    font-size: 24px;
    width: 100px;
}
.createEventField1 {
  height: 50px;
  width: 350px;
  padding-right: 15px;
}