.map {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Hi{
color:red;

}
.error{
background-color: red;

}

.cover{
overflow: hidden;
}

.no_event{
    text-align:center;
}