.cover {padding-top: 100px;}

.event_list ul { padding: 0 120px;}

.event_list li{
    list-style: none;
    background: #333;
    margin: 10px 0;
    padding: 20px 15px;
    color: #fff;
    min-width: 500px;
    border-radius: 10px;
    font-size: 20px;
    min-height: 35px;
}
.event_list ul li div {
    float: left;
}
.event_list div:nth-of-type(1)  {width: 28%;}
.event_list div:nth-of-type(2)  {width: 14%;}
.event_list div:nth-of-type(3)  {width: 14%;}
.event_list div:nth-of-type(4)  {width: 36%;}
.event_list div:nth-of-type(5)  {width: 6%; text-align: right;}

.no_event{
text-align:center;
}

.delete-event button:hover   {background-color: #999;}
.delete-event button {
    padding: 0; margin:0;
    border: none;
    cursor: pointer;
    display: 'none';
}