/*
    Author: Kanchan Wakchaure
    Date: 10-04-2019
    Description: Styling for header component
    References: https://material-ui.com
*/

  .root {
    flexGrow: 1;
  }

  .menuButton {
    marginLeft:"auto";
    marginRight: -12;
  }

  .title {
    flexGrow: 1;
    fontSize: 30;
  }