 /*
    Author: Kanchan Wakchaure, Vijaya Mounika Gadde
    Date: 10-04-2019
    Description: Styling for Login form
    References: https://material-ui.com
*/

 .container
 {
    box-align: center;

 }

 .paper
 {
    margin: 50;
    box-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .avatar
  {
    box-align: center;
    background-color: blueviolet;
    padding: 3;
  }

 .form
 {  height: '60%';
    margin-top:'100px';
    width: '90%';
    box-align: center;
 }

.submit
{
    background-color: "#C53E3E";
}
